<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %-5level [%t] %c{1.} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <logger name="net.larskristian" level="ALL"/>
    <Root level="ALL">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>