<div id="body-header">
</div>
<div class="content">
  <div class="section-content background-dark-blue skew top down-left">
    <div class="container">
      <div class="row row-content">
        <div id="aboutGeneralSection" class="section-content col-sm-7 section-img"></div>
        <div id="aboutGeneralSectionSide" class="section-content col-sm-5"></div>
      </div>
    </div>
  </div>
  <div class="section-content background-grey skew bottom">
    <div class="container">
      <div class="row row-content">
        <div id="aboutOktaSectionSide" class="section-content col-sm-5"></div>
        <div id="aboutOktaSection" class="section-content col-sm-7 section-img"></div>
      </div>
    </div>
  </div>
</div>