<section class="block">
  <div id="myCarousel" class="content-header carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{urlHeader1}}" alt="{{i18n.descriptionHeader1}}" width="1920" height="300" />
      </div>
      <div class="item">
        <img src="{{urlHeader2}}" alt="{{i18n.descriptionHeader2}}" width="1920" height="300" />
      </div>
      <div class="item">
        <img src="{{urlHeader3}}" alt="{{i18n.descriptionHeader3}}" width="1920" height="300" />
      </div>
      <div class="item">
        <img src="{{urlHeader4}}" alt="{{i18n.descriptionHeader4}}" width="1920" height="300" />
      </div>
    </div>
    <a id="post-header_title" class="carousel-control center lead heading animated bounceInLeft">{{i18n.title}}</a>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</section>