<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">{{i18n.toggleNavigation}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="header-home"><a>{{i18n.home}}</a></li>
        <li id="header-about"><a>{{i18n.about}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{i18n.interests}}
          </a>
          <ul class="dropdown-menu">
            <li id="header-cs">
              <div class="dropdown-menu-container">
                <a>
                  {{i18n.computerScience}}
                </a>
              </div>
            </li>
            <li id="header-sports">
              <div class="dropdown-menu-container">
                <a>
                  {{i18n.sports}}
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li id="header-cv"><a>{{i18n.cv}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="header-{{type}}"><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{accountText}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>