<div id="body-header">
</div>
<div class="content">
  <div class="section-content background-grey skew top down-left">
    <div class="container">
      <div class="row row-content">
        <div id="cvResumeSection" class="section-content col-sm-7 section-img"></div>
        <div id="cvResumeSectionSide" class="section-content col-sm-5"></div>
      </div>
    </div>
  </div>
  <div class="section-content background-dark-blue skew middle down-right">
    <div class="container">
      <div class="row row-content">
        <div id="cvUsaSectionSide" class="section-content col-sm-5"></div>
        <div id="cvUsaSection" class="section-content col-sm-7 section-img"></div>
      </div>
    </div>
  </div>
  <div class="section-content background-light-blue skew middle down-left">
    <div class="container">
      <div class="row row-content">
        <div id="cvNorwaySection" class="section-content col-sm-7 section-img"></div>
        <div id="cvNorwaySectionSide" class="section-content col-sm-5"></div>
      </div>
    </div>
  </div>
  <div class="section-content background-dark-blue skew middle down-right">
    <div class="container">
      <div class="row row-content">
        <div id="cvUsaSectionSide1" class="section-content col-sm-5"></div>
        <div id="cvUsaSection1" class="section-content col-sm-7 section-img"></div>
      </div>
    </div>
  </div>
  <div class="section-content background-light-blue skew bottom">
    <div class="container">
      <div class="row row-content">
        <div id="cvNorwaySection1" class="section-content col-sm-7 section-img"></div>
        <div id="cvNorwaySectionSide1" class="section-content col-sm-5"></div>
      </div>
    </div>
  </div>
</div>